@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Source+Sans+Pro&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

.left {
  font-family: "Lilita One", sans-serif;
  flex: 1;
  position: relative;
  background-image: url("alfie.jpg");
  background-size: cover;
  background-position: center center;
}

.right {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #F9FAFB;
}

.title-background {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  top: calc(100% / 3 - 75px);
  background-color: rgb(0, 0, 0, 0.6);
}

.title {
  font-size: 4rem;
  color: white;
}

.top-text, .bottom-div {
  flex: 1;
}

.form-div {
  flex: 1.5;
  background-color: white;
  box-shadow: 0px 0px 10px grey;
}

.submit {
  width: 200px;
  height: 50px;
}

.form-fields {
  display: flex;
}

.form-fields-left, .form-fields-right {
  display: flex;
  flex-direction: column;
}